.title {
    color: $colorTextos
}

.infinite-scroll-component {
    flex-wrap: wrap;
    display: flex;
    overflow: hidden !important;
}

.active-item {
    color: $colorTextos !important;
}

.infinite-scroll-component__outerdiv {
    overflow: hidden !important;
}

.pointer {
    cursor: pointer;
}