@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");

* {
  box-sizing: border-box;
  font-family: "Otomanopee One", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: $colorFondo;
}

h1,
h2,
h3 {
  color: $colorTextos;
}
